    <table>
      <tr>
        <td colspan="2" style="font-weight:bold;">Other HTML Pages:</td>
      </tr>
      <tr>
        <td><a href="/index.html">index.html</a></td>
        <td><a href="/about.html">about.html</a></td>
      </tr>
    </table>
