<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- The HTML 4.01 Transitional DOCTYPE declaration-->
<!-- above set at the top of the file will set     -->
<!-- the browser's rendering engine into           -->
<!-- "Quirks Mode". Replacing this declaration     -->
<!-- with a "Standards Mode" doctype is supported, -->
<!-- but may lead to some differences in layout.   -->

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Hello App Engine</title>
  </head>

  <body>
    <h1>Hello App Engine, powered by HarpJS!</h1>
    <%- partial('_header') %>	
    <%- partial('_nav') %>

    <p>Welcome to Google App Engine, powered by Java and HarpJS to compile 
       EJS templates to static HTML, taking advantage of Google App Engine's
       static file servlet to serve static files and aggressively cache them.
    </p>
  </body>
</html>

